:root{
    /* Färger och typsnitt soom definierade variabler */
    --clr-primary-900: hsl(230, 73%, 17%);
    --clr-primary-800: hsl(277, 51%, 9%);
    --clr-headingtext: hsl(0, 0%, 100%);
    --clr-sub-text: hsl(47, 100%, 58%);

    --clr-secondary-900: hsl(0, 5%, 70%);
    --clr-secondary-800: hsl(209, 20%, 57%);
    --clr-secondary-700: hsl(209, 63%, 55%);
    --clr-secondary-600: hsl(0, 50%, 42%);
    --clr-secondary-500: hsl(22, 68%, 65%);
    --clr-secondary-400: hsl(47, 100%, 58%);
    --clr-secondary-300: hsl(40, 43%, 61%);
    --clr-secondary-200: hsl(0, 35%, 85%);
    --clr-secondary-100: hsl(223, 59%, 87%);

    --ff-base:'Secular One', sans-serif;
    --ff-secondary:'Lora', serif;
    --ff-text: 'Roboto Condensed', sans-serif;

    --fw-regular: 400;
    --fw-light: 300;
}

/* Återställer marginalen för alla element */
* {
    margin: 0; 
 
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #0c164a 0%, #1a0b23 100%);
  overflow: auto;
}

/* Header-styling */
.header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0.625em;
    margin-right: 6.5625em;
    position: relative;
    z-index: 1;
}

h1{
    color: var(--clr-headingtext);
    font-family: var(--ff-base);
    font-size: 1.875rem;
    letter-spacing: 0.5rem;
}
h2{
    color: var(--clr-sub-text);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-light);
    letter-spacing: 1rem;
    font-size: 1.25rem;
}

input{
    border-radius: 0.375em;
    margin-right: 0.9375em;
    height: 1.875em; 
    font-family: var(--ff-secondary);
    font-size: 0.875rem;
    border: none;
    margin-top: 0.1875em;
    margin-bottom: 0.3125em;
    padding-left: 1.65em;
}

button{
    width: 80px;
    height: 35px;
    border-radius: 0.5em;
    border: none;
    color: var(--clr-secondary-100);
    background-color: var(--clr-secondary-800);
    margin-right: 1em;
    font-size: 1rem;
    padding: 0.3125em;
    font-family: var(--ff-secondary);
}


/* Planets-styling */
.planets{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 700px;
}

.right-planets{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 1.875em;
}

#sun{
    background-color: var(--clr-secondary-400);
    height: 780px;
    width: 300px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    position: relative;
    left: -100px;
    top: -70px;
    box-shadow: 4px 5px 65px 20px var(--clr-secondary-400);
}

#sun:hover {
    transform: scale(1.1);
}

#mercury{
    background-color: var(--clr-secondary-900);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

#venus{
    background-color: var(--clr-secondary-200);
    height: 26px;
    width: 26px;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

#earth{
    background-color: var(--clr-secondary-700);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

#mars{
    background-color: var(--clr-secondary-600);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

#jupiter {
    border-radius: 50%;
    width: 119px;
    height: 119px;
    background-image: linear-gradient(
      to left top,
      #41383895,
      #532623,
      #da7e32e7,
      #bb9200
    );
    transition: transform 0.5s ease;
}    

#saturn{
    background-color: var(--clr-secondary-300);
    height: 144px;
    width: 144px;
    border-radius: 50%;
    z-index: 2;
    background-image: linear-gradient(
      to right bottom,
      #000000,
      #30191c6d,
      #5a2b29,
      #6c392b
    );
    transition: transform 0.5s ease;
}

#uranus{
    background-color: var(--clr-secondary-100);
    height: 66px;
    width: 66px;
    border-radius: 50%;
    transition: transform 0.5s ease;
    background-image: linear-gradient(
        to right bottom,
        #000000,
        #b1b4cf6d,
        #526ca3,
        #6e8ed0
      );
}

#neptune{
    background-color: var(--clr-secondary-800);
    height: 66px;
    width: 66px;
    border-radius: 50%;
    transition: transform 0.5s ease;
    background-image: linear-gradient(
        to right bottom,
        #666b9c6d,
        #919eba,
        #52648b
      );
}

#mercury:hover,
#venus:hover,
#earth:hover,
#mars:hover,
#jupiter:hover,
#saturn:hover,
#uranus:hover,
#neptune:hover {
    transform: rotateY(180deg);
}

footer{
    display: flex;
    justify-content: center;
    color: var(--clr-secondary-100);
}

body galaxy{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

/* Stjärn-animationer med keyframes */

.stars1 {
    border-radius: 50%;
        width: 2px;
        height: 2px;
        background-color: transparent;
        position: relative;
        animation: stars 20s linear infinite;
        box-shadow: 779px 1331px #fff, 324px 42px #fff, 303px 586px #fff,
        1312px 276px #fff, 451px 625px #fff, 521px 1931px #fff, 1087px 1871px #fff,
        36px 1546px #fff, 132px 934px #fff, 1698px 901px #fff, 1418px 664px #fff,
        614px 751px #fff, 1935px 816px #fff, 1428px 60px #fff, 355px 335px #fff,
        1594px 158px #fff, 90px 60px #fff, 1553px 162px #fff, 1239px 1825px #fff,
        1355px 654px #fff, 429px 7px #fff, 1033px 1128px #fff, 157px 297px #fff,
        958px 552px #fff, 1403px 1496px #fff, 387px 703px #fff, 1522px 548px #fff,
        1355px 282px #fff, 1532px 601px #fff, 1838px 790px #fff, 290px 259px #fff,
        295px 598px #fff, 1601px 539px #fff, 1561px 1272px #fff, 34px 1922px #fff,
        1024px 543px #fff, 467px 369px #fff, 722px 333px #fff, 1976px 1255px #fff,
        766px 983px #fff, 1582px 1285px #fff, 12px 512px #fff, 617px 1410px #fff,
        682px 577px #fff, 1334px 1438px #fff, 439px 327px #fff, 1617px 1661px #fff,
        673px 129px #fff, 794px 941px #fff, 1386px 1902px #fff, 37px 1353px #fff,
        1467px 1353px #fff, 416px 18px #fff, 187px 344px #fff, 200px 1898px #fff,
        1491px 1619px #fff, 811px 347px #fff, 924px 1827px #fff, 945px 217px #fff,
        121px 68px #fff, 1676px 1714px #fff, 516px 936px #fff, 1947px 1492px #fff,
        1455px 1519px #fff, 45px 602px #fff, 205px 1039px #fff, 793px 172px #fff,
        1204px 1973px #fff, 1268px 79px #fff, 1555px 1048px #fff, 986px 1707px #fff,
        978px 1710px #fff, 713px 360px #fff, 407px 863px #fff, 461px 736px #fff,
        284px 1608px #fff, 103px 430px #fff, 1283px 1319px #fff, 977px 1186px #fff,
        1966px 1516px #fff, 1287px 1129px #fff, 70px 1098px #fff, 1189px 889px #fff,
        1126px 1734px #fff, 309px 1292px #fff, 879px 764px #fff, 65px 473px #fff,
        1533px 1292px #fff, 1985px 195px #fff, 728px 729px #fff, 1712px 1936px #fff,
        512px 1717px #fff, 1528px 483px #fff, 313px 1642px #fff, 281px 1849px #fff,
        1212px 799px #fff, 435px 1191px #fff, 1422px 611px #fff, 1718px 1964px #fff,
        411px 944px #fff, 210px 636px #fff, 1502px 1295px #fff, 1434px 349px #fff,
        769px 60px #fff, 747px 1053px #fff, 789px 504px #fff, 1436px 1264px #fff,
        1893px 1225px #fff, 1394px 1788px #fff, 1108px 1317px #fff,
        1673px 1395px #fff, 854px 1010px #fff, 1705px 80px #fff, 1858px 148px #fff,
        1729px 344px #fff, 1388px 664px #fff, 895px 406px #fff, 1479px 157px #fff,
        1441px 1157px #fff, 552px 1900px #fff, 516px 364px #fff, 1647px 189px #fff,
        1427px 1071px #fff, 785px 729px #fff, 1080px 1710px #fff, 504px 204px #fff,
        1177px 1622px #fff, 657px 34px #fff, 1296px 1099px #fff, 248px 180px #fff,
        1212px 1568px #fff, 667px 1562px #fff, 695px 841px #fff, 1608px 1247px #fff,
        751px 882px #fff, 87px 167px #fff, 607px 1368px #fff, 1363px 1203px #fff,
        519px 1708px #fff, 645px 750px #fff, 1164px 1204px #fff, 834px 323px #fff,
        172px 1350px #fff, 213px 972px #fff, 1837px 190px #fff, 285px 1806px #fff,
        1047px 1299px #fff, 1548px 825px #fff, 1730px 324px #fff, 1346px 1909px #fff,
        772px 270px #fff, 345px 1190px #fff, 478px 1433px #fff, 1479px 25px #fff,
        665px 286px #fff, 493px 1720px #fff, 786px 5px #fff, 637px 1140px #fff,
        764px 324px #fff, 927px 310px #fff, 938px 1424px #fff, 1884px 744px #fff,
        913px 462px #fff, 1831px 1936px #fff, 1527px 249px #fff, 36px 1381px #fff,
        1597px 581px #fff, 1530px 355px #fff, 949px 459px #fff, 799px 828px #fff,
        1103px 1238px #fff, 428px 1993px #fff, 355px 570px #fff, 977px 1836px #fff,
        1395px 1092px #fff, 276px 913px #fff, 1743px 656px #fff, 773px 502px #fff,
        1686px 1322px #fff, 1516px 1945px #fff, 1334px 501px #fff, 266px 156px #fff,
        455px 655px #fff, 798px 72px #fff, 1059px 1259px #fff, 1402px 1687px #fff,
        236px 1329px #fff, 1455px 786px #fff, 146px 1228px #fff, 1851px 823px #fff,
        1975px 1347px #fff, 1885px 685px #fff, 226px 506px #fff, 651px 878px #fff,
        1323px 680px #fff, 1284px 680px #fff, 238px 1967px #fff, 911px 174px #fff,
        1111px 521px #fff, 1150px 85px #fff, 794px 502px #fff, 484px 1856px #fff,
        1809px 368px #fff, 112px 953px #fff, 590px 1009px #fff, 1655px 311px #fff,
        659px 1860px #fff, 388px 1412px #fff, 1212px 458px #fff, 755px 1468px #fff,
        696px 1654px #fff, 1144px 60px #fff; 
       
}

@keyframes stars {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}
    
.stars2 {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: transparent;
    position: relative;
    animation: stars 30s linear infinite;
    box-shadow: 1448px 320px #fff, 1775px 1663px #fff, 332px 1364px #fff,
    878px 340px #fff, 569px 1832px #fff, 1422px 1684px #fff, 1946px 1907px #fff,
    121px 979px #fff, 1044px 1069px #fff, 463px 381px #fff, 423px 112px #fff,
    523px 1179px #fff, 779px 654px #fff, 1398px 694px #fff, 1085px 1464px #fff,
    1599px 1869px #fff, 801px 1882px #fff, 779px 1231px #fff, 552px 932px #fff,
    270px 1636px #fff, 1931px 149px #fff, 1807px 378px #fff, 8px 390px #fff,
    1977px 1491px #fff, 734px 1724px #fff, 210px 298px #fff, 816px 628px #fff,
    686px 770px #fff, 1721px 267px #fff, 1663px 511px #fff, 1481px 1141px #fff,
    582px 248px #fff, 1308px 953px #fff, 628px 657px #fff, 897px 1535px #fff,
    270px 931px #fff, 791px 467px #fff, 1336px 1732px #fff, 1013px 1653px #fff,
    1911px 956px #fff, 587px 816px #fff, 83px 456px #fff, 930px 1478px #fff,
    1587px 1694px #fff, 614px 1200px #fff, 302px 1782px #fff, 1711px 1432px #fff,
    1629px 1087px #fff, 911px 919px #fff, 771px 819px #fff, 403px 720px #fff,
    163px 736px #fff, 1062px 238px #fff, 1774px 818px #fff, 1874px 1178px #fff,
    1177px 699px #fff, 1244px 1244px #fff, 1371px 58px #fff, 564px 1515px #fff,
    274px 436px #fff, 1433px 1605px #fff, 1798px 1426px #fff, 294px 1848px #fff,
    1681px 1877px #fff, 1344px 1824px #fff, 1439px 1632px #fff,
    161px 1012px #fff, 1308px 588px #fff, 1789px 582px #fff, 721px 1910px #fff,
    318px 218px #fff, 607px 319px #fff, 495px 535px #fff, 1552px 1575px #fff,
    1562px 67px #fff, 403px 926px #fff, 1096px 1800px #fff, 1814px 1709px #fff,
    1882px 1831px #fff, 533px 46px #fff, 823px 969px #fff, 530px 165px #fff,
    1030px 352px #fff, 1681px 313px #fff, 338px 115px #fff, 1607px 211px #fff,
    987px 1976px #fff, 933px 1761px #fff, 922px 1270px #fff, 500px 396px #fff,
    1324px 8px #fff, 1967px 1814px #fff, 1072px 1401px #fff, 961px 37px #fff,
    156px 81px #fff, 1915px 502px #fff, 1076px 1846px #fff, 152px 1669px #fff,
    986px 1529px #fff, 1667px 1137px #fff;
    }

